{% extends 'account/base.html' %}


{% block body %}
{% load static %}
<div class="container-fluid" style="justify-content: center;align-items: center;">
    <div class="container" style="padding:5px;">
        <div class="container">
            <div class="container-fluid header" style="align-items: center;">
                <span style="font-size: 26px;">Notifications</span>
                
                <!-- <a href="{% url 'usernames' %}"
                    style="border:1px solid grey;padding:5px;float:right;margin-right:10%;margin-top: -7vh;"><span>Back</span></a> -->

                <hr>
                <!-- <form method="get">
                    {{myfilter.form}}
                    <button class="btn btn-sm btn-outline-secondary col-3 mt-1 mb-2 mx-3" type="submit"
                        style="width:100px;">Search</a>
                </form> -->
            </div>
            <table class="table">
                <thead>
                    {% for object in object_list %}
                    <tr>
                        <th scope="col">{{object.id}}</th>               
                        <th scope="col">{{object.text}}</th>               
                    </tr>
                    {% endfor %}             
                </thead>

            </table>
        </div>

    </div>
</div>

{% endblock %}