{% extends 'account/doctor_base.html' %}


{% block body %}
{% load static %}
<div class="container" style="justify-content: center;align-items: center;">


        <div class="container-fluid header" style="align-items: center;">
            <span style="font-size: 26px;">Profile</span>
                {% if doctor %}
                <a href="{% url 'appointment_slots' %}"><button class="btn btn-primary btn-sm mx-3">Appointment_slots</button></a>
                {% else %}
                <a href="{% url 'appointments' %}"><button class="btn btn-primary btn-sm mx-3">Appointments</button></a>
                {% endif %}
            <!-- <a href="{% url 'usernames' %}"
                    style="border:1px solid grey;padding:5px;float:right;margin-right:10%;margin-top: -7vh;"><span>Back</span></a> -->

            <hr>
            <!-- <form method="get">
                    {{myfilter.form}}
                    <button class="btn btn-sm btn-outline-secondary col-3 mt-1 mb-2 mx-3" type="submit"
                        style="width:100px;">Search</a>
                </form> -->
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Email</th>
                    <th scope="col">User_type</th>

                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Date_registered</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{userdetails.id}}</th>
                    <!-- <th scope="row">{{detail.image}}</th> -->
                    <th>
                    
                    <img src="{{userdetails.image.url}}" alt="Profile_pic"
                        style="width:10vw;border:1px solid grey;padding:5px;">
                   
                    </th>
                
                    <th scope="row">{{userdetails.email}}</th>
                    <th scope="row">{{userdetails.user_type}}</th>
                    <th scope="row">{{userdetails.phone}}</th>
                    <th scope="row">{{userdetails.address_line1}}, {{userdetails.city}}, {{userdetails.state}},
                        {{userdetails.country}}, {{userdetails.pincode}} </th>
                    <th scope="row">{{ userdetails.date_created}}</th>
                    <th scope="row"><a href="{% url 'users-update' userdetails.id %}"><button class="btn btn-sm btn-primary">Update</button></a></th>

                </tr>

            </tbody>
        </table>

</div>

{% endblock %}